#container{
    width: 100%;
    height: 250px;
}
#wik{
  width: 50%;
  float: left;
  height: 2000px;
}
#nyc{
  width: 50%;
  float: left;
  height: 2000px;
}
ul{
  list-style: none;
}
